<% layout("/layouts/boilerplate.ejs") %>
    <body>
        <div class="rows">
            <% for(let list of allListing){ %>
                <div class="listingcard">
                    <a href="/listings/<%= list._id %>">
                        
                        <div class="cardimg">
                            <img  src="<%= list.image.url %>" alt="<%= list.title %>">
                        </div>
                        <div class="cardinfo">
                            <h5>
                                <%= list.title %>
                            </h5>
                            <p class="price">
                                ₹ <%= list.price ? list.price.toLocaleString("en-IN") : "N/A" %>/night
                            </p>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>